@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins';
  }

}

@layer components {
  /* Medium weight h4 */
  .card-title {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  /* Card subtitle */
  .card-subtitle {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    @apply text-[#A3A3A3];
  }

  /* Card Button text */
  .card-btn-text {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    @apply text-white;
  }

  /* Button text */
  .btn-text {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    @apply text-white;
  }

  /* 
    .h2 - Used for large headings like page titles
    Example: <h1 class="h2">Login</h1>
    
    Properties:
    - 36px Poppins font
    - Medium (500) weight
    - 44px line height
    - Left aligned
    - Proper text underline positioning
  */
  .h2 {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .semibold {
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    letter-spacing: -0.01em;
  }
}

/* Custom scrollbar for light/dark themes */
::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  @apply bg-light-bg-secondary dark:bg-dark-bg-secondary;
}

::-webkit-scrollbar-thumb {
  @apply bg-light-border dark:bg-dark-border rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-red;
} */

:root {
  --header-height: 64px;
  --player-height: 56.25vw; /* 16:9 aspect ratio */
}

@screen lg {
  :root {
    --header-height: 96px;
    --player-height: auto;
  }
}
